body{
    
    margin:0;
    padding:0;
    box-sizing:border-box;
   
    
  }
  
  .container{
      display:flex;
      align-items:center;
      justify-content:center;
      height:100vh;
      width:100%;
      
  }
    .form-box{
      background: #3500D3;
        width:380px;
        height:350px;
        padding:20px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        opacity:0.5;
        border-radius:2%;
        text-align:center;
    }
    .form-control{
      border-radius:15px;
      margin: 2px;
    }

    .form-box h1{
      color:white;
    }
    
    .form-box .NavLink{
      color:white;
      text-decoration:none;
    }
  .header-form{
    margin-bottom:2px;
  }
  button{
    margin-top:40px;
    margin-bottom:10px;
  }

  
  
  