body{
    font-family: 'Nunito', sans-serif;
    height: 4264px
  }
  .page {
      height: 140px;
      position:inherit;
      margin-bottom: 90px;
      margin-top: 40px   ;
   }
  
   
   @media screen and (min-width: 400px) {
     body {
       background-color: lavender   }
   }
   
  
  