body{
    
    margin:0;
    padding:0;
    box-sizing:border-box;
   
    
  }
  
  .container{
      display:flex;
      align-items:center;
      justify-content:center;
      height:100vh;
      width:100%;
      
  }
    .form-box{
    
        width:380px;
        height:350px;
        padding:20px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        opacity:0.5;
        border-radius:2%;
        text-align:center;
    }
    .form-control{
      border-radius:15px;
      margin: 2px;
    }
   
    .form-box input[type=text]{
      color:black;
    }

    .form-box h1{
      color:rgb(0, 0, 0);
    }
    .form-box .NavLink{
      color:rgb(0, 0, 0);
      text-decoration:none;
    }
  .header-form{
    margin-bottom:15px;
  }
  button{
    margin-top:40px;
    margin-bottom:10px;
  }

  
  
  